// Primary
$mat-soft-primary: (
  50 : #fef9f9,
  100 : #fcf0f0,
  200 : #fae6e6,
  300 : #f7dbdb,
  400 : #f6d4d4,
  500 : #f4cccc,
  600 : #f3c7c7,
  700 : #f1c0c0,
  800 : #efb9b9,
  900 : #ecadad,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #000000,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )

);



// Accent
$mat-soft-accent: (
  50 : #f1f5f5,
    100 : #dde6e7,
    200 : #c7d5d7,
    300 : #b0c4c6,
    400 : #9fb7ba,
    500 : #8eaaae,
    600 : #86a3a7,
    700 : #7b999d,
    800 : #719094,
    900 : #5f7f84,
    A100 : #f4feff,
    A200 : #c1f7ff,
    A400 : #8ef1ff,
    A700 : #74edff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// Warn
$mat-soft-warn: (
  50 : #fbefef,
    100 : #f5d8d8,
    200 : #efbebe,
    300 : #e9a4a4,
    400 : #e49191,
    500 : #df7d7d,
    600 : #db7575,
    700 : #d76a6a,
    800 : #d26060,
    900 : #ca4d4d,
    A100 : #ffffff,
    A200 : #fff3f3,
    A400 : #ffc0c0,
    A700 : #ffa7a7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
  
);
